<!DOCTYPE html>
<html>
<head>
  <title>Wachunei</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700|Nunito:300,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <link href='/stylesheets/estilo.css' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery.fittext.js"></script>
  <script src="/javascripts/application.js"></script>

</head>
<body>
	<%= erb :header %>
	  <section id="main">
      <%= yield %>
    </section>
  <%= erb :footer %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-466544-1', 'wachunei.com');
  ga('send', 'pageview');

</script>
</body>
</html>
