<article id="about" data-anim="second anim">
	<h2>About</h2>

	<p class="description">
		I am in a continuous process of learning about Web Development.
	</p>
	<p>I'm a 23 years old chilean <abbr title="Computer Science">CS</abbr> student at <a href="http://www.ing.puc.cl/ciencia-de-la-computacion/" title="Computer Science Department of Pontifical Catholic University of chile" target="_blank">DCC PUC</a>.</p>
</article>

<article id="contact" data-anim="final anim">
	<h2>Get in touch</h2>
	<p>You can find me on <a href="http://twitter.com/wachunei" title="Pedro Pablo's twitter" target="_blank">twitter</a> or at my <a href="mailto:hola@wachunei.com" title="Send me an e-mail">email</a>.</p>
</article>
